.recipe-edit {
  button {
    margin-right: 5px;
  }

  .buttons {
    margin-bottom: 20px;
  }
}

.ingredient-row {
  margin-bottom: 5px;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.recipe-preview {
  width: 300px;
  margin-bottom: 10px;
}
