<div class="row">
	<div class="col-xs-12">
		<form (ngSubmit)="submitIngredient(form)" #form="ngForm">
			<div class="row">
				<div class="col-sm-5 form-group">
					<label for="name">Name</label>
					<input
						id="name"
						name="name"
						class="form-control"
						ngModel
						required
					>
				</div>

				<div class="col-sm-2 form-group">
					<label for="amount">Amount</label>
					<input
						id="amount"
						name="amount"
						type="number"
						class="form-control"
						ngModel
						required
						pattern="^[1-9]+[0-9]*$"
					>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<button
						type="submit"
						class="btn btn-success"
						[disabled]="!form.valid"
					>
						{{ mode === 'edit' ? 'Update' : 'Add' }}
					</button>
					<button
						*ngIf="mode === 'edit'"
						type="button" 
						class="btn btn-danger"
						(click)="deleteIngredient()"
					>
						Delete
					</button>
					<button
						type="button"
						class="btn btn-primary"
						[disabled]="!form.dirty"
						(click)="clearForm()"
					>
						Clear
					</button>
				</div>
			</div>
		</form>
	</div>
</div>