<div class="row recipe-detail">
	<div class="col-xs-12">
		<img
			[src]="recipe.imagePath"
			alt="{{ recipe.name }}"
			class="image-responsive recipe-image-big">
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<h1>{{recipe.name}}</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="btn-group" app-dropdown>
			<button type="button" class="btn btn-primary dropdown-toggle">
				Manage recipe
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li class="ingredient">
					<a (click)="toShoppingList($event)">
						Add to shopping list
					</a>
				</li>
				<li class="ingredient">
					<a routerLink="edit">
						Edit recipe
					</a>
				</li>
				<li class="ingredient">
					<a>
						Delete recipe
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<p>{{recipe.description}}</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<ul class="list-group">
			<li
				*ngFor="let ing of recipe.ingredients"
				class="list-group-item">
				{{ ing.name }} - {{ ing.amount }}
			</li>
		</ul>

	</div>
</div>
